@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --corbackgroud: #181818;
    --corfontes: #fff;
    
    --fontenome: 'Poppins'sans-serif;
    --fontedescrip: 'Nunito'sans-serif;
}

*{
    
    background-color: #181818;
}

body {
    color: #fff;
}

img {
    border-radius: 10px;
    display: flex;
    margin: auto;
}

h1 {
    color: #fff;
    font-family: 'poppins'sans-serif;
    text-align: center;   
}

